.product-page-container {
    width: 77%;
    max-width: 1140px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 80px;
}

.product-details-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-image-section {
    width: 100%;
    max-width: 400px;
}

.product-info-section {
    text-align: center;
    padding: 20px;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-price {
    display: flex;
    font-size: 16px;
    margin: 10px 0;
}

.product-options-form {
    display: flex;
    align-items: start;
    gap: 10px;
}

.product-size-select {
    padding: 5px;
    border: 1px solid #595959;
    width: 100%;
}

.quantity-label {
    font-size: 14px;
    color: #595959;
}

.quantity-input {
    border-color: #595959;
    height: 30px;
    width: 60px;
    padding: 10px 5px;
}

.add-to-cart-button {
    display: flex;
    padding: 12px 24px;
    background-color: rgb(80, 151, 106);
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-to-cart-button:hover {
    background-color: rgb(59, 114, 80);
    ;
}

.social-share-icons {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.product-description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 15px;
}

h5 {
    color: #595959;
    margin-top: 20px;
    font-size: 1.2rem;
}